.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  height: 90vh;
  gap: 1rem;
  margin: 6rem 0;
}

.heading {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
.heading > :nth-child(1) {
  width: 448px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

.heading > :nth-child(2) {
  width: 720px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-self: start;
  height: 90vh;
  margin: 1rem 0 2rem 5rem;
  text-align: left;
}

.names {
  display: flex;
  width: 600px;
  outline: none;
  gap: 3.6rem;
}

.name {
  display: flex;
  flex-direction: column;
}

.name > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name > input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 300px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

form > label,
.name > label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin: 20px 0 10px 0;
}

form > input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 720px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

#message {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;
  width: 720px;
  height: 132px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.checkbox {
  display: flex;
  margin: 10px 0;
  color: #475467;
  gap: 10px;
  font-family: sans-serif;
}

#btn_submit {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  width: 720px;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#btn_submit:hover {
  background: white;
  color: #1570ef;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .contact-form {
    width: 400px;
    padding: 20px 50px;
    height: 110vh;
    margin-top: 30px;
    align-self: flex-start;
  }

  .heading {
    width: 200px;
    margin-left: -15rem;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .heading > :nth-child(2) {
    width: 400px;
    height: 20px;
  }

  .names {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }

  .name > input {
    width: 390px;
    padding-right: 0;
  }

  form > input,
  #message,
  .checkbox,
  #btn_submit {
    width: 400px;
  }

  form {
    width: 500px;
    height: 100vh;
    margin-left: -1rem;
  }
}
